* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'News Cycle';
	src: url('assets/fonts/NewsCycle-Regular.ttf') format('ttf'),
        url('assets/fonts/NewsCycle-Bold.ttf') format('ttf');
}

body {
	font-family: 'News Cycle', sans-serif;
	-webkit-animation: backgroundThrob 20s infinite; /* Chrome, Safari, Opera */ 
    animation: backgroundThrob 20s infinite;
}

@-webkit-keyframes backgroundThrob {
    0%  {background: #16a085}
    20% {background: #2980b9}
    40% {background: #f39c12;}
    60% {background: #8e44ad;}
    80% {background: #2c3e50;}
    100% {background: #16a085}
}

/* Standard syntax */
@keyframes backgroundThrob {
    0%  {background: #16a085}
    20% {background: #2980b9}
    40% {background: #f39c12;}
    60% {background: #8e44ad;}
    80% {background: #2c3e50;}
    100% {background: #16a085}
}

.loading {
	padding: 20px;
	text-align: center;
	font-size: 32px;
}

img {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	transition: height 0.5s width 0.5s;
}